/*The following runs if the screen is <768 px, which I'm calling "mobile"*/
@media (max-width: 768px) {
	.js_title{
		font-size: 30px;
	}
	.js_desc{
		font-size: 15px;
	}
	.js_name{
		display:block;
		font-size:40px;
	}
	.js_menuLink{
		display:block;
		font-size:25px;
	}
}