html {
    overflow-y: scroll;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	background: url(../img/bg2.jpg) center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin:0px;
	padding:0px;
}
a,a:visited{
	color:black;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
	color:rgb(126, 239, 104)
}
.js_menuLink,.js_menuLink:visited,.js_menuLink:active,.js_menuLink:focus{
	color:white;
	text-decoration: none;
}
.js_menuLink:hover,.js_activeMenuLink{
	color:rgb(126, 239, 104) !important;
}
.js_name{
	color:white;
}
.js_wrap{
	width:100%;
}
.js_head{
	opacity: 0;
	margin-top:30px;
}
.js_content_wrap{
	opacity:0;
}
.js_content{
	display:block;
	color:black;
	font-size:15px;
	margin-top:60px;
	opacity: 0px;
	padding:10px;
	border:solid 2px white;
	margin-bottom:30px;
}
.js_contentData{
	display:none;
}
.js_portfilioBoxFrame{
	border:solid 2px white;
	padding:5px;
	margin-bottom:5px;
}
.js_portfilioBox{
	padding:5px;
}
.js_portfilioBox a{
	text-decoration: none;
	text-align:center;
	display:block;
	margin-top:10px;
}
.js_portfolioTitle{
	text-align:left;
	font-weight:900;
	font-size:18px;
}
.js_portfolioDesc{
	font-size:15px;
}
.js_title{
	font-weight:900;
	color:#929292;
	font-size:60px;
	text-align:center;
}
.js_desc{
	color:white;
	font-size:20px;
	text-align:center;
}
.js_formField{
	font-family: 'Roboto', sans-serif;
	color:white;
	border:solid 2px white;
	border-radius:0px;
}
.js_button_wrap{
	height:50px;
	padding:0px;
	border:0px;
}
.js_button,.js_button:active,.js_button:focus{
	background:rgba(255,255,255,0.5);
	border:0;
	border-radius:0px;
	color:black;
}
.js_button:hover{
	background:rgba(255,255,255,0.1);
	cursor: pointer;
}
.js_blur{
	background: url(../img/bg2-blur.jpg) center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.js_white{
	background:rgba(255,255,255,0.5);
}

.js_emailErrorMessage{
	color:#a94442;
	text-align: center;
}
.js_emailHappyMessage{
	color:rgb(126, 239, 104);
	text-align: center;
}

input:focus,textarea:focus,select:focus{
	border-color: white !important;
	box-shadow: none !important;
	/*border-color: rgb(126, 239, 104) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6) !important;
	outline: 0 none !important;*/
}

/*
.js_moveAround{
	-webkit-animation: move 1s infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	animation: move 1s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes move{
 	from {margin-top:10px;}
	to {margin-top:600px;}
}
@-webkit-keyframes move {
	from {margin-top:10px;}
	to {margin-top:600px;}
}
*/

::-webkit-input-placeholder { /* WebKit browsers */
	color:rgba(255, 255, 255, 0.5) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:rgba(255, 255, 255, 0.5) !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:rgba(255, 255, 255, 0.5) !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:rgba(255, 255, 255, 0.5) !important;
}


