html {
    overflow-y: scroll;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	/*background: url(../img/bg2.jpg) center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	background:#202020;
	margin:0px;
	padding:0px;
	color:white;
}
a,a:visited{
	color:white;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
	color:#e79c10
}
.js_menuLink,.js_menuLink:visited,.js_menuLink:active,.js_menuLink:focus{
	color:white;
	text-decoration: none;
}
.js_menuLink:hover,.js_activeMenuLink{
	color:#e79c10 !important;
}
.js_wrap{
	width:100%;
}
.js_head{
	opacity: 0;
	margin-top:30px;
}
.js_content_wrap{
	opacity:0;
	background:#262626;
	color:white;
	font-size:15px;
	opacity: 0px;
	padding:10px;
	margin-bottom:30px;
	margin-top:60px; /* starting pos */
}
.js_contentData{
	display:none;
}
.js_portfilioBoxFrame{
	border:solid 2px #202020;
	padding:5px;
	margin-bottom:5px;
}

.js_portfilioBoxFrame .js_image{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.js_portfilioBoxFrame:hover .js_image{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}


.js_portfilioBox{
	padding:5px;
}
.js_portfilioBox a{
	text-decoration: none;
	text-align:center;
	display:inline-block;
	margin-top:10px;
	font-weight: 400;
}
.js_portfolioTitle{
	text-align:left;
	font-weight:900;
	font-size:18px;
	font-size:20px;
}
.js_portfolioDesc{
	font-size:15px;
}
.js_title{
	font-weight:100;
	font-size:60px;
	text-align:center;
	color:#1d9099;
}
.js_name{
	color:#d53a33;
}
.js_desc{
	color:white;
	font-size:20px;
	text-align:center;
	font-weight: 100;
}
.js_formField{
	font-family: 'Roboto', sans-serif;
	color:white;
	border:solid 2px #202020;
	border-radius:0px;
	background:#262626;
	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
}
.has-error .form-control{
	border-color:#d53a33 !important;
}
.js_button_wrap{
	height:50px;
	padding:0px;
	border:0px;
}
.js_button,.js_button:active,.js_button:focus{
	background: #e79c10; /*#56c74b*/ /*#d53a33*/
	border:0;
	border-radius:0px;
	color:black;
}
.js_button:hover{
	background:;
	cursor: pointer;
	background:#202020;
	color:white;
}


.js_emailErrorMessage{
	color:#d53a33 ;
	text-align: center;
}
.js_emailHappyMessage{
	color:#56c74b;
	text-align: center;
}

.js_backgroundCanvas {
	opacity:0.3;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	filter: blur(10px);
}

/* BOOTSTRAP OVERRIDES */

input:focus,textarea:focus,select:focus{
	border-color: #202020 !important;
	box-shadow: #202020 !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:rgba(255, 255, 255, 0.5) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:rgba(255, 255, 255, 0.5) !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:rgba(255, 255, 255, 0.5) !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:rgba(255, 255, 255, 0.5) !important;
}


